<ion-tabs color="primary">
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="feed">
			<ion-icon name="albums"></ion-icon>
			<ion-label>Feed</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="chat">
			<ion-icon name="chatbubbles"></ion-icon>
			<ion-label>Chat</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profile">
		  <ion-icon name="logo-reddit"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="location"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
	</ion-tab-bar>
</ion-tabs>