<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="font">InstaYuma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="margine-card">


  <ion-card *ngFor="let post of posts | async" (click)="goTo(post.id)">
    <ion-img src="https://ucarecdn.com/{{ post.id }}/-/preview/{{ post.effect }}"></ion-img>
    <ion-card-header>
        <ion-card-subtitle color="dark"><b> User:{{ post.author }}</b> </ion-card-subtitle>
      <ion-card-title color="dark">
      Title: {{ post.title }}
      </ion-card-title>
    </ion-card-header>
  
  <ion-card-content color="dark">
     <b> Description:</b><p>{{ post.desc }}</p>
     <b> Address: </b> <p>{{ post.Address }}</p>
     <b> Status:</b> <p>{{ post.status }}</p>
      </ion-card-content>
  </ion-card>

</ion-content>