<ion-content>
  <video autoplay loop src="assets/paradise.mp4" style="margin-left: -759px;height: 102%;"></video>


  <div class="page-centered-element">
    <div class="content">
      <h1>Welcome Yuma</h1>
      <h5></h5>
      <div class="buttons-container">
     
        <div class=" ion-activatable ripple-parent">
          <ion-button routerLink="/login">Entra</ion-button>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        
        
      </div>
    </div>
  </div>



</ion-content>